<footer>
  <p>|
    <a title="Home" href="/">🛖</a> |
    <a title="Email" href="mailto:reg@braythwayt.com">📫</a> |
    <a title="Social media" rel="me" href="https://social.bau-ha.us/@raganwald">🐘</a>|
    <a title="GitHub" href="https://github.com/raganwald">👨‍💻</a> |
    <a title="Published books" href="/creative-works.html">📚</a> |
    <a title="Conference talks" href="/creative-works.html">📽️</a> |
    <a title="Essays" href="/creative-works.html">📝</a> 
  |</p>
   {% if page.tags contains 'mermaid' %}
     The graphs on this page were drawn with <a href="https://mermaidjs.github.io">mermaid</a><br/><br/>
   {% endif %}
</footer>
