<footer>
   Hey! If you like this sort of thing, my books &ldquo;<a href="https://leanpub.com/javascriptallongesix">JavaScript Allongé</a>,&rdquo; &ldquo;<a href="https://leanpub.com/combinators">Kestrels, Quirky Birds, and Hopeless Egocentricity</a>,&rdquo; and <a href="https://leanpub.com/u/raganwald">others</a> will be just the sort of this you'll like! <a href="https://github.com/raganwald/raganwald.github.com/pulls">Pull requests</a> &amp; <a href="https://github.com/raganwald/raganwald.github.com/issues">issues</a> are welcome. Unless copyright is otherwise asserted, <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Some rights reserved</a>. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
   <br/><br/>
   {% if page.tags contains 'mermaid' %}
     The graphs on this page were drawn with <a href="https://mermaidjs.github.io">mermaid</a><br/><br/>
   {% endif %}
</footer>
