      <div id="header">
        <nav>
          <li class="fork"><a 
            href="https://leanpub.com/javascript-allonge"
            title="A strong cup of functions, objects, combinators, and decorators"
            >JavaScript Allongé</a>&nbsp;</li>
          <li class="fork"><a 
            href="http://ristrettolo.gy"
            title="An intense doppio of programming"
            >CoffeeScript Ristretto</a>&nbsp;</li>
          <li class="fork"><a 
            href="http://combinators.info"
            title="Raganwald's collected adventures in Combinatory Logic and Ruby Meta-Programming"
            >The “Kestrels” Book</a>&nbsp;</li>
          <li class="fork"><a
            href="http://allong.es" 
            title="All of the JavaScript Allongé receipies in a free library"
            >allong.es</a>&nbsp;</li>
        </nav>
      </div><!-- end header -->