    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet"                                href="/assets/fontawesome-free-5.7.2-web/css/all.css" />
    <link rel="stylesheet" type="text/css"                href="https://fonts.googleapis.com/css?family=Chivo:900" />

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/pygment_trac.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/pygments.css" >
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/raganwald.css" >

    <link rel="stylesheet" type="text/css" media="print"  href="/assets/css/print.css" />

    {% if page.tags contains 'open-to-work' %}
      <link rel="stylesheet" type="text/css" media="print"  href="/assets/css/open-to-work.css" />
    {% endif %}
 
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/js/respond.js"></script>

    {% if page.tags contains 'hide-code' %}<script src="/assets/js/hide-code.js"></script>{% endif %}
    {% if page.tags contains 'hide-specs' %}<script src="/assets/js/hide-specs.js"></script>{% endif %}

    {% if page.tags contains 'mermaid' %}
      <script src="/assets/js/mermaid.min.js"></script>
      <script>mermaid.initialize({startOnLoad:true});</script>
    {% endif %}

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/assets/css/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://raganwald.com/atom.xml" type="application/atom+xml" rel="alternate" title="raganwald.com">
    <link rel="alternate" type="application/rss+xml" href="https://raganwald.com/rss.xml" title="raganwald.com">
    <meta name=”twitter:site” content=”@raganwald”>

    <title>{{ page.title }}{% if page.subtitle %} - {{ page.subtitle }}{% endif %}</title>
