ul,
ol {
  padding-left: 1em;
  
  li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footnote {
  font-size: .83em;
  vertical-align: super
}

::target-text {
  background-color: transparent;
}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid black; */

  thead {

    th {
      font-weight: normal;
    }

    th:nth-child(1) {
      width: 25%;
    }

    th:nth-child(2) {
      width: 17%;
    }

    th:nth-child(3) {
      width: 58%;

      font-style: italic;
      padding-bottom: 0.5lh;
    }
  }

  tbody {
    td:nth-child(3) {
      font-style: italic;
      padding-bottom: 0.5lh;
    }
  }
}


