.quotation {
  font-style: italic;
}

.author {
  font-size:0.8em;
  text-align:right;
  font-style: normal;
}

.quotation,
.author {
  margin-top: 0px;
  position: relative;
}

/* first quotation in a row */
:not(.quotation) + .quotation::before {
  content: '“';
}

/* but-last quotations in a row */
.quotation:has(+ .quotation) {
  margin-bottom: 20px;
}

/* last quotation in a row */
.quotation:not(:has(+ .quotation)) {
  margin-bottom: 5px;
}

.quotation:not(:has(+ .quotation))::after {
  content: '”';
}

/* default footnote markers when rendered by markdown */

sup:before {
  content: ' (';
}

sup:after {
  content: ')';
}

/* a floating frame that goes where the leanpub ads go */

div.navigation {
  position: relative;
  float: right;
  left: 180px;
  top: 0px;
  margin-left: -160px;
  width: 160px;
  /* border: 1px solid; */
  padding: .5em;
  font-size: .83em;
  
  p,
  h3 {
    text-align: right;
  }

  h3 {
    font-size: .75em;
    font-family: 'TheoVanDoesburg';
    letter-spacing: 3px;
    font-weight: normal;
    font-style: normal;
  }
}
