.quotation {
  font-style: italic;
}

.author {
  font-size:0.8em;
  text-align:right;
  font-style: normal;
}

.quotation,
.author {
  margin-top: 0px;
  position: relative;
}

/* first quotation in a row */
:not(.quotation) + .quotation::before {
  content: '“';
}

/* but-last quotations in a row */
.quotation:has(+ .quotation) {
  margin-bottom: 20px;
}

/* last quotation in a row */
.quotation:not(:has(+ .quotation)) {
  margin-bottom: 5px;
}

.quotation:not(:has(+ .quotation))::after {
  content: '”';
}

/* default footnote markers when rendered by markdown */

sup:before {
  content: ' (';
}

sup:after {
  content: ')';
}

/* a floating frame that goes where the leanpub ads go */

div.sidebar {
  position:relative;
  float:right;
  left:180px;
  top:{{ top }}px;
  margin-left: -160px;
}
