
.quotation {
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 20px;
}

.quotation.butlast,
.quotation.author {
  margin-bottom: 20px;
}

.quotation.last {
  margin-bottom: 0px;
}

.quotation.butlast, .quotation.last {
  font-style: italic;
}

.quotation.author {
  font-size:0.8em;
  text-align:right;
  prefix: "—";
}
