.quotation {
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 20px;
  font-style: italic;
}

.quotation:has(+ .quotation) {
  margin-bottom: 20px;
}

.quotation:has(+ .author) {
  margin-bottom: 0px;
}

.author {
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 20px;
  font-size:0.8em;
  text-align:right;
  font-style: normal;
}

sup:before {
  content: ' (';
}

sup:after {
  content: ')';
}
