<!DOCTYPE html>
<html>
    <head>
      {% include head_tags.html %}
      {% if post.tags contains "hashlife" %}
        {% include hashlife_tags.html %}
      {% endif %}
    </head>
  <body>
    <div id="container">
      <div class="inner">

        {% include header_div.html %}

        <hr>

        <section id="main_content">

          {% include book.html %}

          {{ content }}
        </section>

        {% include footer.html %}

      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
