<!DOCTYPE html>
<html>
    <head>
      {% include head_tags.html %}
    </head>
  <body>
    <div id="container">
      <div class="inner">

        {% include header_div.html %}

        <hr>

        <section id="main_content">

          {% include book.html %}

          {% if page.tags contains 'wip' or page.tags contains 'noindex' %}
            <p title="This essay is an unpublished work in progress"><i>
              {% if page.tags contains 'wip' %}
                <span class="fas fa-edit"></span>
              {% else %}
                <span class="fas fa-exclamation-triangle"></span>
              {% endif %}

              <i>This essay is an unpublished work in progress. Please check back for updates. If you choose to share it,
              please mention that it is unfinished at this time.</i>
            <p>
            <hr/>
          {% endif %}

          {{ content }}
        </section>

        {% include footer.html %}

      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
